version: '3'
services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "proveedores"
    ports:
        - "3306:3306"
    volumes:
        - ./mysql:/var/lib/mysql
    restart: unless-stopped
volumes:
  mysql:
