<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proveedores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Proveedores</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="./">List</a></li>
            <li><a href="/new">Add</a></li>
        </ul>
    </div>
</div>
<main class="px-6 w-screen flex flex-col items-center justify-center">
    <h1 class="py-5 text-xl font-bold">Add new provider</h1>
    <form class="">
        <div class="flex flex-row">
            <div class="form-control w-full max-w-xs m-3">
                <label for="name" class="label">
                    <span class="label-text">Name</span>
                </label>
                <input type="text" name="name" placeholder="Type here" class="input input-bordered w-full max-w-xs"/>
            </div>
            <div class="form-control w-full max-w-xs m-3">
                <label for="email" class="label">
                    <span class="label-text">Email</span>
                </label>
                <input type="email" name="email" placeholder="Type here" class="input input-bordered w-full max-w-xs"/>
            </div>
        </div>
        <div class="flex flex-row">
            <div class="form-control w-full max-w-xs m-3">
                <label for="phone" class="label">
                    <span class="label-text">Phone</span>
                </label>
                <input type="tel" name="phone" placeholder="Type here" class="input input-bordered w-full max-w-xs"/>
            </div>
            <div class="m-3">
                <label for="type" class="label">
                    <span class="label-text">Type</span>
                </label>
                <select name="type" class="select select-bordered w-full max-w-xs">
                    <option disabled selected>Type</option>
                    <option>Hotel</option>
                    <option>Pista</option>
                    <option>Complemento</option>
                </select>
            </div>
        </div>
        <div class="form-control w-max m-3">
            <label for="active" class="label cursor-pointer">
                <span class="label-text">Is it active?</span>
                <input type="checkbox" name="active" checked="checked" class="toggle mx-3" />
            </label>
        </div>
        <div class="m-3">
            <button class="btn btn-active btn-accent" type="submit">Add</button>
        </div>
    </form>
</main>
</body>
</html>